<h2 class="content-block" style="display: inline">Ofertas aplicables</h2>
<h6 class="content-block" style="display: inline"> Propietario Serpack, S.L.</h6>



<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="cbbo_reference"
    [width]="190"
    caption="Referencia"
    [hidingPriority]="6">
  </dxi-column>

  <dxi-column
    dataField="dbbo_desc"
    caption="Descripción"
    [width]="390"
    [hidingPriority]="4">
  </dxi-column>

  <dxi-column
    dataField="cbbo_dateini"
    caption="Fecha Inicio"
    dataType="date"
    [width]="190"
    [hidingPriority]="1">
  </dxi-column>

  <dxi-column
    dataField="cbbo_dateend"
    caption="Fecha Fin"
    dataType="date"
    [width]="190"
    [hidingPriority]="3">
  </dxi-column>

  <dxi-column
    dataField="cbbo_toendstock"
    caption="Hasta Fin de Exístencias"
    [allowSorting]="false"
    dataType="boolean"
    [width]="200"
    
    [hidingPriority]="2">
  </dxi-column>
  
  <dxi-column
    caption=""
    [allowSorting]="false"
    [hidingPriority]="0">
  </dxi-column>


</dx-data-grid>
