$base-accent: #369144;
$base-font-family: "Roboto", "RobotoFallback", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: #000000de;
$base-label-color: #000000de;
$base-icon-color: #0000008a;
$base-spin-icon-color: #0000008a;
$base-bg: #ffffff;
$base-border-color: #e0e0e0;
$base-success: #8bc34a;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: #000000de;
$base-hover-bg: #0000000a;
$base-focus-color: #ffffff;
$base-focus-bg: #0000000a;
$base-link-color: #369144;
$base-border-radius: 14px;
$button-normal-color: #000000de;
$button-normal-bg: #ffffff;
$button-normal-hover-bg: #ebebeb;
$button-normal-focused-bg: #ebebeb;
$button-normal-active-bg: #b3b3b3;
$button-default-color: #ffffff;
$button-default-bg: #369144;
$button-default-hover-bg: #2a7135;
$button-default-focused-bg: #2a7135;
$button-default-active-bg: #1b4922;
$button-danger-color: #ffffff;
$button-danger-bg: #f44336;
$button-danger-hover-bg: #f11d0d;
$button-danger-focused-bg: #f11d0d;
$button-danger-active-bg: #bc160a;
$button-success-color: #ffffff;
$button-success-bg: #8bc34a;
$button-success-hover-bg: #75a938;
$button-success-focused-bg: #75a938;
$button-success-active-bg: #587f2a;
$list-group-color: #000000de;
$list-border-color: #e0e0e0;
$list-group-header-bg: transparent;
$list-normal-color: #000000de;
$list-expanded-group-color: #369144;
$list-item-hover-bg: #0000000a;
$list-item-selected-bg: #0000001f;
$list-item-active-bg: #cccccc;
$fieldset-field-label-color: #757575de;
$button-group-normal-selected-color: #000000de;
$button-group-normal-selected-bg: #0000002e;
$button-group-default-selected-color: #369144;
$button-group-default-selected-bg: #36914438;
$button-group-danger-selected-color: #f44336;
$button-group-danger-selected-bg: #f4433638;
$button-group-success-selected-color: #8bc34a;
$button-group-success-selected-bg: #8bc34a38;
$scrollable-scroll-bg: #bfbfbfb3;
$switch-bg: #9e9e9e;
$switch-handle-off-bg: #fafafa;
$switch-on-bg: #36914480;
$switch-handle-on-bg: #369144;
$tabs-tab-color: #0000008a;
$tabs-tab-selected-color: #369144;
$tabs-selected-tab-bottom-border-color: #369144;
$tabs-tab-bg: #f7f7f7;
$tabs-hovered-tab-bg-color: #ededed;
$badge-color: #ffffff;
$badge-bg: #369144;
$overlay-content-bg: #ffffff;
$overlay-shader-bg: #00000052;
$textbox-search-icon-color: #0000008a;
$texteditor-color: #000000de;
$texteditor-placeholder-color: #949494de;
$texteditor-bg: #0000000a;
$texteditor-focused-bg: #0000000a;
$texteditor-border-color: #0000006b;
$texteditor-hover-border-color: #000000de;
$texteditor-focused-border-color: #369144;
$texteditor-hover-bg: #00000012;
$dropdowneditor-icon-active-color: #0000008a;
$calendar-header-color: #666666de;
$calendar-cell-other-color: #7d7d7dde;
$calendar-cell-selected-bg: #369144;
$calendar-shevron-icon-color: #369144;
$load-indicator-segment-bg-color: #369144;
$treeview-focused-bg: #0000000a;
$menu-color: #757575de;
$menu-item-selected-bg: #e0e0e0de;
$selectbox-list-bg: #ffffff;
$toolbar-bg: #ffffff;
$popup-title-bg: transparent;
$tileview-color: #000000de;
$toast-color: #ffffffde;
$toast-info-bg: #000000de;
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44336;
$toast-success-bg: #8bc34a;
$progressbar-bg: #3691444d;
$progressbar-range-bg: #369144;
$progressbar-label-color: #369144;
$tooltip-color: #ffffff;
$tooltip-bg: #616161;
$material-slider-bar-bg: #3691443d;
$material-slider-bg: #369144;
$material-slider-tooltip-color: #ffffff;
$gallery-indicator-bg: #ffffff;
$gallery-indicator-item-selected-bg: #369144;
$gallery-indicator-focused-bg: #369144;
$gallery-navbutton-hover-color: #369144;
$gallery-navbutton-active-color: #369144;
$loadpanel-content-bg: #ffffff;
$tagbox-tag-color: #00000099;
$tagbox-tag-bg: #e0e0e0;
$tagbox-tag-active-color: #000000de;
$tagbox-tag-button-remove-bg: #0000005c;
$accordion-title-color: #000000de;
$accordion-item-border-color: #e0e0e0;
$accordion-icon-active-color: #000000de;
$colorbox-overlay-bg: #ffffff;
$datagrid-base-background-color: #ffffff;
$datagrid-columnchooser-item-color: #0000008a;
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: #36914480;
$datagrid-selection-bg: #3691440a;
$datagrid-row-selected-border-color: #e0e0e0;
$datagrid-row-selected-color: #000000de;
$datagrid-row-focused-color: #ffffff;
$datagrid-row-focused-bg: #5ea769;
$datagrid-menu-icon-color: #5656568a;
$datagrid-cell-modified-border-color: #8bc34a52;
$datagrid-row-invalid-faded-border-color: #f4433652;
$datagrid-group-row-color: #0000008a;
$datagrid-group-row-bg: #ffffff;
$datagrid-search-color: #ffffff;
$datagrid-search-bg: #369144;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #f88e86;
$datagrid-focused-border-color: #5ea769;
$datagrid-editor-bg: transparent;
$datagrid-row-alternation-bg: #f5f5f5;
$datagrid-summary-color: #000000b3;
$pager-page-selected-color: #ffffff;
$pager-page-selected-bg: #369144;
$pivotgrid-area-color: #0000008a;
$pivotgrid-totalcolor: #dddddd33;
$pivotgrid-grandtotalcolor: #0000000a;
$pivotgrid-field-area-text-color: #0000004d;
$fileuploader-filename-color: #000000de;
$fileuploader-falename-status-color: #666666de;
$fileuploader-border-color: #e0e0e0;
$scheduler-base-border-color: #e0e0e0;
$scheduler-accent-border-color: #e0e0e0;
$scheduler-appointment-text-color: #ffffff;
$scheduler-appointment-base-color: #369144;
$scheduler-appointment-start-color: #0000004d;
$scheduler-workspace-focused-cell-color: #3691441f;
$scheduler-first-month-border-color: #e0e0e0;
$scheduler-current-time-cell-color: #369144;
$form-field-item-color: #00000099;
$form-group-border-color: #e0e0e0;
$filterbuilder-text-color: #000000de;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #8bc34ab3;
$filterbuilder-remove-icon-color: #f44336b3;
$filterbuilder-group-operation-color: #f443364d;
$filterbuilder-item-field-color: #3691444d;
$filterbuilder-item-operator-color: #8bc34a4d;
$filterbuilder-item-value-color: #e0e0e080;
$drawer-shader-background-color: #00000080;
